@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}

body{
    font-family: 'DM Sans',sans-serif;
}
img{
    max-width:100%
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #19dd5a54;
}
.logo{
    color: #000000;
    font-size:25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul{
    display: flex;
}
.menu .navbar ul li a{
    font-size: 20px;
    padding: 0 20px;
    color: #1B1B1B;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color:#000000
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.header-txt{
    flex-basis: 50%;
    padding-right: 80px;
}

.header-txt h1{
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    color:#1B1B1B;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    color: #515151;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-bolock;
    padding: 10px 25px;
    color:#ffffFF;
    background-color: #ff8400;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 25px;
}

.btn-1:hover{
    background-color: #F38004;
}

.header-img{
    flex-basis: 50%;
}

.services{
   padding: 80px 0;
   text-align: center;
}

h2{
    color:#1B1B1B;
    font-size: 40px;
}

.services-content{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services-1{
    flex-basis: calc(33.3% - 40px);
}

.services-1 img{
    width: 30px;
    margin-bottom: 10px;
}

.sevices-1 h3{
    color:#1B1B1B;
    font-size: 20px;
    margin-bottom: 10px;
}

.products{
    padding: 0 0 80px 0;
    text-align: center;
}

.products-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.products-1{
    background-color: rgba(32, 218, 88, 0.699);
    padding: 20px;
}

.products-1 h4{
    color: #1B1B1B;
    font-size: 22px;
    margin-bottom: 5px;
}

.products-1 p{
    color: #F38004;
    margin-bottom: 10px;
}

.testimonio{
    text-align: center;
    margin-bottom: 80px;
}

.testimonio-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonio-1{
    flex-basis: calc(50% - 20px);
    box-shadow: 0 0 20px rgba(0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
}
.testimonio-1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.testimonio-1 h3{
    color:#1B1B1B;
    font-size:18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.testimonio-1 p{
    margin-bottom: 0;
}

.footer{
    border-top: 1px solid #1B1B1B;
    padding: 20px 0;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul{
    display: flex;
}

.footer-content ul li a{
    display: block;
    padding: 10px;
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 600;

}

.footer-content ul li a.hover{
    color: #F38004;
}

@media(max-width:991px){
    .menu{
        padding:20px;
        position: relative;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right:0;
        background-color: #FF5A2C;
        display: none;
    }
    .menu .navbar ul{
        flex-direction:column;
    }
    .menu .navbar ul li{
        width: 100%;
        padding: 20px 0;
    }
    .menu .navbar ul li a:hover{
        color: #ffffFF;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header-content{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .header-txt{
        padding: 0 0 40px 0;
    }
    .sevices{
        padding: 30px;
    }
    .services-content{
        flex-direction: column;
        margin-top:  30px;
    }
    .products{
        padding: 30px;
    }
    .products-content{
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonio{
        padding: 30px;
    }
    .testimonio-content{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .testimonio-1{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
        text-align: center;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .link{
        margin-bottom: 25px;
    }

}
